

{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}
<style>
  .bg-login-image {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-position: center;
    background-size: cover;
  }
</style>
  <div id="register-form" class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0" style="margin-top: 0;">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  {% for flashMessage in app.session.flashbag.get('user-error') %}
                      <div class="alert alert-danger">
                        {{ flashMessage }}
                      </div>
                  {% endfor %}
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Connexion </h1>
                  </div>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="form-group" style="text-align:center;">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Connexion
                            </button>
                        </div>
                    </form>
                    <hr>
                  <hr>
                  <div class="text-center">
                    <a id="forgot-link" class="small" style="cursor: pointer;" >Mot de passe oublié ?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}







