{% extends 'base.html.twig' %}

{% block title %}Hello LivreController!{% endblock %}

{% block body %}
    <div class="book">
        <input type="hidden" id="id" value="{{ book.id }}">
        <div class="categorie">
            {{ book.categorie }}
        </div>
        <hr/>
        <div class="titre">
            <strong>{{ book.titre }}</strong>
            <p>
                {{ book.auteur }}
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ book.couverture }}" alt="" width="250px">
            </div>
            <div class="col-md-6">
                {{ book.description | raw }}
            </div>
        </div>


    </div>
    <div class="action mt-5">
        <div class="paveControle" id="wl">Ajouter à la Wish list</div>
        <div class="paveControle" id="la">Ajouter à la liste de lecture actuelle</div>
        <div class="paveControle" id="ar">Ajouter à l'historique de lecture</div>
        <div class="paveControle" id="ll">Ajouter à une proposition de liste de lecture</div>


    </div>



    <!-- Modal -->
    <div class="modal fade" id="ar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/mapage/changeStatut" method="post">
                        <input type="hidden" name="wl_id" value="{{  book.id }}">
                        <input type="hidden" name="wl_statut" value="ar">
                        <div class="form-group">
                            <label for="annee">année</label>
                            <select id="annee" class="form-control" name="annee">
                                {% for i in 2020..1945 %}
                                    <option option="{{ i }}" >{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mois">mois (facultatif)</label>
                            <select id="mois" class="form-control" name="mois">
                                {% for i in ['janvier','février','mars','avril','mail','juin','juillet','aout','septembre','octobre','novembre','decembre'] %}
                                    <option value="{{ loop.index }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button class="btn btn-primary d-block w-100" type="submit">Valider</button>


                    </form>
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
